body {
    font-family: 'Poppins', sans-serif;
    margin: 0%
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.blue-color {
    color: blue;

}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700px;
    border-radius: 8px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    box-shadow: 10px 20px 40px gray;
    border-radius: 5px;


}

#full-stack-developer {
    border-left: 7px solid tomato;
}

#baby-web-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
    ;
}
